
<h1 style="font-family:sans-serif;">Treasure Hunt Game X</h1>

<h2> Playing the game</h2>

    <ul>
        <li>Choose a grid square to search by clicking on it with your mouse.</li>
         <li>The grid square will indicate what you discover in that square using the 'Game Symbols' (see the <b>Game Symbols</b> section)) and by providing feedback in the message box at the bottom of the game window</li>
         <li>Should <b>The Voodoo Compass&trade;</b> detect anything nearby (see the <b>Game Story</b> section, the eye of <i><b> S Overdere</b></i> will open and the relevant compass points will illuminate to
        give <i>suggestions</i> as to which direction you might wish to consider searching in next</li>
         <li>You will receive messages relating to the game in the message area at the bottom of the game window.</li>
         <li>To exit the game click the 'Quit' button or close the application window.</li> 
    </ul>

    <h2> Game Options</h2>  
    <ul>
        <li>You are able to select both <b>Game Size</b> and <b>Game Difficulty</b> settings using the controls at the top of the game window </li>
        <li>Increasing the difficulty will result in there being: more hazards, a reduction or disablement of the <b>The Voodoo Compass</b>'s range of detection and,
 at level 3, the removal of the gridlines from the map.</li>
        <li>Settings are saved in a config file so that the next time you play, the game will be configured exactly the way you prefer</li>

    </ul>

