<h2>The Story So Far</h2>
<p>
    You have stolen a treasure map from a band of swarthy pirates which has led you to the shores of <i><b>Swimp Island</b></i> where 
    the trail ends and the treasure must surely be buried.
    <img src='file:images/island_help.gif' border='0'  hspace='3' vspace='3' align='right' alt='map image'/>
    
</p>
<p>
    Understandably vexed, the pirates are chasing you. Albeit somewhat delayed in their pursuit, forced to travel aboard your barnacle ridden ship,
     <i><b>The Crudbucket</b></i> as you, having relieved the Pirates of their map, also stole their much faster ship in which to make your
     getaway. 
</p>
<p>
    <b>You therefore have a few days head start before the pirates arrive. You're going to need it...</b>
</p>
<p>    
    ... the treasure map is incomplete - The pirates did not mark the map with the treasure's location but instead memorised it in 
    a bid to safeguard their hoarde.
    
</p>
<p>
    <b> You are going to have to search the Island for the treasure.</b> A seemingly impossible task even for a <i>mighty adventurer</i> like yourself...
</p>
<p>
   <b>Fortunately (perhaps) you have in your possession...</b>
</p>
<p>

    <b>The Voodoo Compass</b>... which will <i>'help'</i> you to find the treasure ... albeit with <i>'complications'</i>...<br>
<img  src='file:images/compass_help_image.gif' alt='The Voodoo Compass' title='The Voodoo Compass, looks kinda creepy really...' align='right'/> 
     
        <b>The Voodoo Compass</b> is no ordinary navigation instrument. Given to you some years ago, on a previous adventure, 
        by a mysterious voodoo lady called <i><b>Hooh</b></i>.
        
        <br ><br> Mounted in the centre of it is the preserved eye of <i><b>Silas Overdere</b></i>, the greatest navigator who ever
        lived.
</p>
<p>   
      The eye, combined with the voodoo spell cast apon it by <i><b>Hooh</b></i> bestows upon it some extraordinary abililites the most useful of which, and the reason why you have brought it with you, being the ability to detect nearby treasure... Awesome you say - well... somewhat less usefully
        , it will also detect patches of quicksand and strong rip-tides, what can we say - the voodoo that hooh do is certainly very odd.
</p>
<p>
        When the compass detects something <i><b>S Overdere's</b></i> creepy eye will open and the compass will illuminate to give you hints as to
        where you could try searching next, though as explained above, these super voodoo powers also detect treasure AND QUICKSAND!"


</p>
