<h2>Game Symbols</h2>
<table border='0'>
  <tr>
    <td align='center'>
      <img height='60px' width='110px' src='file:images/island_help.gif' alt='' />
    </td>
    <td>
      This is the treasure map. Search an area by clicking on it with your mouse.
    </td>
  </tr>
  <tr>
    <td align='center'>
      <img src='file:images/little_miner_92.gif' alt='' />
    </td>
    <td>
      This is you, <i>'The Hero'</i>. When you place your cursor on the map, this little chap will appear. 
      This becomes more useful at difficulty level 3 as the map has no grid lines at this setting.
    </td>
  </tr>
  <tr>
    <td align='center'>
      <img src='file:images/treasure_chest_anim.gif' alt='Treasure Chest Icon' />
    </td>
    <td>
      This is the treasure chest, the thing you are looking for, your reason d'etre.
    </td>
  </tr>
  <tr>
    <td align='center'>
      <img src='file:images/goodguy_flag_icon_92.gif' alt='Goodguy flag icon' />
    </td>
    <td>
      Blue flags mark areas that have been searched uneventfully.
    </td>
  </tr>
  <tr>
    <td align='center'>
      <img src='file:images/life_ring.gif' alt='Life Ring icon' />
    </td>
    <td>
      This indicates that you narrowly escaped from drowning. Maybe, you should have brought arm bands instead of that daft Voodoo Compass!
    </td>
  </tr>
  <tr>
    <td align='center'>
      <img src='file:images/hand_trans.gif' alt='Drowning icon' />
    </td>
    <td>
      You got caught in a rip tide and drowned whilst searching in the sea.
    </td>
  </tr>
  <tr>
    <td align='center'>
      <img src='file:images/quicksand_icon.gif' alt='Quicksand icon' />
    </td>
    <td>
      You escaped from quicksand.
    </td>
  </tr>
  <tr>
    <td align='center'>
      <img src='file:images/quicksand_swirl.gif' alt='Quicksand icon' />
    </td>
    <td>
      You died by drowning in quicksand
    </td>
  </tr>
  <tr>
    <td align='center'>
      <img src='file:images/pirate_flag_icon_92.gif' alt='Pirate Flag' />
    </td>
    <td>
      You ran out of time and the pirates caught up with you.
    </td>
  </tr>
</table>
